canvas{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

#score-board {
    display: flex;
    gap: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 10px;
    width: fit-content;
}

#black-score { color: black; }
#white-score { color: #555; }